/* Fanfic Css */

.fanficbody {
 background: #E2A16F; 
 background-image:url(images/asset/woodbg.jpg); 
 background-repeat: repeat; 
 background-size: 200px
}

.page{
  max-width: 1000px;
  margin: auto;
  background-color: #B5E8A4;
  border-radius: 5px;
  box-shadow: 0 0 30px brown
}

.chapter{
  padding: 25px;
}

.nav a{
  text-align: center;
  color: #7B542F;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

.nav a:hover{
  color: #3E3F29;

}

h1{
  padding-top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  color: #3E3F29;
}

.title{
  font-family: 'Courier New', Courier, monospace;
  font-size: 27px;
  font-weight: bolder;
  text-align: center;
  color: #3E3F29;
}

.authdate{
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px;
  text-align: center;
  color: #7B542F;
}

p{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: larger;
  padding-left: 30px;
  padding-right: 30px;
}

.mainhr{
  border: none;
  border-top: 6px double #3E3F29;
}

.subhr{
  border: none;
  border-top: 3px dashed #3E3F29;
}

details{
  padding: 3px;
  padding-left: 5px;
  border: 3px solid #7B542F;
  width: 90%;
  margin: auto;
}

details[open] > summary {
  list-style-type: '▼ ';
}

summary{
  padding: 10px;
  background-color: #7B542F;
  color: white;
  list-style-type: '▶ ';
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
}

summary::marker {
  color: white;
  font-size: 1.0em;
}

/*Advice column css*/
.advicebody {
 background: #E2A16F; 
 background-image:url(images/asset/paperbg.jpg); 
 background-repeat: repeat; 
 background-size: 200px
}

